[submodule "source/frontends/qt/QHexView"]
	path = source/frontends/qt/QHexView
	url = ../../Dax89/QHexView.git
[submodule "source/frontends/sdl/imgui/imgui"]
	path = source/frontends/sdl/imgui/imgui
	url = ../../ocornut/imgui
[submodule "source/frontends/sdl/imgui/imgui_club"]
	path = source/frontends/sdl/imgui/imgui_club
	url = ../../ocornut/imgui_club
[submodule "source/frontends/mariani/CiderPress"]
	path = source/frontends/mariani/CiderPress
	url = https://github.com/fadden/ciderpress.git
[submodule "source/frontends/mariani/HexFiend"]
	path = source/frontends/mariani/HexFiend
	url = https://github.com/HexFiend/HexFiend.git
