a {
    text-decoration: none;
    color: rgb(65, 110, 214);
}

a:visited {
    color: rgb(65, 110, 214);
}

body {
    font-family: sans-serif;
    margin: 20px;
}

dt {
    margin: 10px 0px 5px 0px;
    font-weight: bolder;
    color: rgb(127, 127, 127);
}

div {
    margin: 10px 0px 10px 0px;
}

div.command {
    font-family: 'SFMono-Regular', ui-monospace, monospace;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 3px;
}

div.related {
    font-size: 0.8em;
}

div.roundrect {
    border-radius: 8px;
    border: 1px solid rgb(192, 192, 192);
    padding: 10px;
    margin: 20px 0px 20px 0px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

h1 {
    font-weight: lighter;
}

h2 {
    font-weight: lighter;
}

h3.howto {
    color: rgb(127, 127, 127);
    margin: 0px;
}

h4 {
    margin: 0px;
}

h5.related {
    margin: 30px 0px 0px 0px;
    padding: 0px;
}

ol li {
    margin: 10px 0px 10px 0px;
}

span.command {
    font-family: 'SFMono-Regular', ui-monospace, monospace;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0px 2px 0px 2px;
    border-radius: 3px;
}

span.key {
    font-family: 'SFMono-Regular', ui-monospace, monospace;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0px 2px 0px 2px;
    border-radius: 3px;
    color: white;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(32, 32, 32);
        color: rgb(192, 192, 192);
    }

    div.command {
        background-color: rgba(255, 255, 255, 0.1);
    }

    div.roundrect {
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
        border-color: rgb(63, 63, 63);
    }

    h1 {
        color: rgb(225, 225, 225);
    }

    h2 {
        color: rgb(225, 225, 225);
    }

    span.command {
        background-color: rgba(255, 255, 255, 0.1);
    }

    span.key {
        color: black;
        background-color: rgba(255, 255, 255, 0.5);
    }
}
