a {
    text-decoration: none;
    color: rgb(65, 110, 214);
}

a:visited {
    color: rgb(65, 110, 214);
}

a img.icon {
    filter: brightness(0) saturate(100%) invert(36%) sepia(84%) saturate(846%) hue-rotate(191deg) brightness(98%) contrast(81%)
}

body {
    font-size: 12pt;
    font-family: -apple-system, sans-serif;
    margin: 20px;
}

dt {
    margin: 10px 0px 5px 0px;
    font-weight: bolder;
    color: rgb(127, 127, 127);
}

div {
    margin: 10px 0px 10px 0px;
}

div.command {
    font-family: 'SFMono-Regular', ui-monospace, monospace;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 3px;
}

div.related {
    font-size: 0.8em;
}

div.roundrect {
    border-radius: 8px;
    border: 1px solid rgb(192, 192, 192);
    padding: 0px 10px 10px 10px;
    margin: 20px 0px 20px 0px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

h1 {
    font-weight: lighter;
}

h2 {
    font-weight: lighter;
}

h3.howto {
    color: rgb(127, 127, 127);
    margin: 10px 0px 0px 0px;
}

h3.howto img.icon {
    filter: brightness(0) saturate(100%) invert(52%) sepia(0%) saturate(0%) hue-rotate(192deg) brightness(95%) contrast(88%);
}

h4 {
    margin: 0px;
}

h5.related {
    margin: 30px 0px 0px 0px;
    padding: 0px;
}

img.screenshot {
    width: 80%;
    height: auto;
}

img.headericon {
    height: 0.8em;
    vertical-align: -5%;
    margin-right: 8px;
    filter: brightness(30%) saturate(100%);
}

img.icon {
    height: 0.8em;
    vertical-align: -5%;
    filter: brightness(0%) saturate(100%);
}

img.key {
    height: 0.8em;
    vertical-align: -5%;
    filter: brightness(100%) saturate(100%);
}

img.largeicon {
    height: 1.2em;
    vertical-align: middle;
    filter: brightness(0%) saturate(100%);
}

ol {
    margin-bottom: 0;
}

ol li {
    margin: 10px 0px 0px 0px;
}

p {
    margin: 10px 0px 0px 0px;
}

p.warning {
    color: #DE3163;
}

span.command {
    font-family: 'SFMono-Regular', ui-monospace, monospace;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0px 2px 0px 2px;
    border-radius: 3px;
}

span.key {
    font-family: 'SFMono-Regular', ui-monospace, monospace;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0px 2px 0px 2px;
    border-radius: 3px;
    color: white;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
}

span.nowrap {
    white-space: nowrap;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(32, 32, 32);
        color: rgb(192, 192, 192);
    }

    div.command {
        background-color: rgba(255, 255, 255, 0.1);
    }

    div.roundrect {
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
        border-color: rgb(63, 63, 63);
    }

    h1 {
        color: rgb(225, 225, 225);
    }

    h2 {
        color: rgb(225, 225, 225);
    }

    img.headericon {
        filter: brightness(70%) saturate(100%);
    }

    img.icon {
        filter: brightness(100%) saturate(100%);
    }

    img.key {
        filter: brightness(0%) saturate(100%);
    }

    img.largeicon {
        filter: brightness(100%) saturate(100%);
    }

    p.warning {
        color: #F88379;
    }

    span.command {
        background-color: rgba(255, 255, 255, 0.1);
    }

    span.key {
        color: black;
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.3);
    }
}
