[Desktop Entry]
Type=Application
Name=Apple ][ Emulator
GenericName=eXtended Apple II Emulator
Comment=A 6502/Apple II emulator with sound/graphics
Icon=${SNAP}/meta/gui/xa2e.svg
Exec=xa2e
Terminal=false
Categories=Game;Emulator
Keywords=Apple;65022;xa2e
